@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Playfair:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Passion+One:wght@400;700;900&family=Playfair:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --cor1:#C0935D;
    --corh1: #614630;
    --corh2:#755c36;
}
  
body{
    background-color: var(--cor1);
    background-image:url(midias/fundo-grunge.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;

}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image:radial-gradient(#E4D0BB,#000000);
    height: 70vh;
    color: var(--corh1);
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 1.7vw;
    white-space: nowrap;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.658);
}
header div{
    font-size: 2.5vw;
}
main{
    background-image:url(midias/trindade.jpg);
    margin:auto;
    max-width: 1000px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: justify;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 15%;
    padding: 10px 20px;
    font-family:'Lugrasimo', cursive;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.466);
}

main h1{
    color: var(--corh1);
    font-size: 2.5vw;
    text-align: center;
}
div{
    font-size: 1vw;
}
h2{
    color:var(--corh2);
    margin-top: 80px;
    font-size: 2vw;
}

h3{
    font-size: 1.7vw;
    margin: 10px 0;
}

 .p{
    color:black;
    font-size: 1.5vw;
    line-height: 1.5;
    margin: 0;

}

.citação{
    color: rgb(128, 126, 126);
    font-size: 1.5vw;
    margin: 5px 0;
    line-height: 1.5;
    margin: 0;
}

aside{
    position: relative;
    background-color: var(--corh2);
    padding-bottom: 500px;
    margin: 30px -20px -30px ;
    text-align: center;
}

iframe{
    position: absolute;
    left: 10%;
    top: 12%;
}

aside h3{
    text-transform: uppercase;
    color:black;
    padding-top: 10px;
    font-family:'Roboto Slab', serif;
}

#conclusão{
    padding-bottom: 40px;
}


 footer{
    background-color: black;
    text-align: center;
    color:white;
    font-size: 2vw;
    padding: 15px;
 }

 footer a{
    color:aliceblue;
 }

footer a:hover{
    text-decoration: underline;
}